

html{
  font-size: 18px;
  /*width:getWinSize();後で記入*/
  width:1349px;
  color:#8F6D6D;
  max-width: 1349px;
  max-height: 671px;
  }

body {
  margin: 0;
  font-family:Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: relative;

}
header {
  position: fixed;
  transform-origin: left top;
  height: 50px;
  width: 100%;
  background-color: #CD853F;
  z-index: 2147483647;


}
.header-list{
  width: 90%;
  margin:auto;
}
header ul{

  list-style: none;
  padding-left: 0;
  text-align: right;
  height:50px;

  margin: 0;

}
header li{
  display: inline-block;
  width:100px;
  margin: 10px;
  text-align: center;

}

header a{

  text-decoration: none;
  color:white;
  font-family: Cambria Bold;
  font-size:20px;
}

.top{
width:100vw;
  height:100vh;
  max-height: 671px;
  max-width: 1349px;
  text-align: center;
  position: relative;

  background-image: url("topback.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
font-family: 'Caveat', cursive;


}
.top .title{

  top: -50%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height:0;
  position: absolute;
  line-height: 8rem;
}

.top .title-box{

  width: 80%;
  margin: auto;
  padding: 20px 20px 70px 20px;
background-color: rgb(255,255,255,0.3);
border: 5px double;
box-sizing:border-box;
}

.top .title h2{
  font-size: 4rem;
  margin: 0;
font-weight: lighter;

}
.top .title h1{
  font-size: 13rem;
  margin: 0;
  font-weight: lighter;


}

.profile .title,.works .title,.contact .title{
  text-align: center;
  background-color: white;
  width:100%;
  font-size: 1.5rem;

}


.profile{
  width:100%;
  height:100vh;
  max-height: 671px;
  background-image:url(profile.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1rem;


}


.profile .profileCon{
  width:50%;
  padding:30px;
  float: right;
}

.profile .statea{
  text-align: left;
}
.profile .profileCon .statea h3{
  font-size: 14px;
  line-height:1.1rem;
  font-weight: lighter;

}
.profile .profileCon .statea h1{
  font-size: 60px;
  font-weight: bold;
  margin:0;
  line-height: 3rem;
}
.profile .profileCon .statea h2{
  margin: 0;
  font-size: 20px;
  opacity: 0.3;

}
.profile .profileCon .statea h5{
  font-size: 14px;
  margin-top:20px;
}


.profile .skillheading{
  width: 100%;
  margin-top: 20px;
}
.profile .skillheading h1{
  margin:0;
  text-shadow: 1px 1px 1px white,
             -1px 1px 1px white,
             1px -1px 1px white,
             -1px -1px 1px white;
}
.profile .skill{
  margin-top: 30px;
  width:100%;

  /*background-color: rgb(255,255,255,0.5);
  padding:0 0px 5px 10px;*/
}
.profile .software{
  width: 50%;
  display: inline-block;
  padding:0 10px 0 0;
  text-shadow: 1px 1px 1px white,
             -1px 1px 1px white,
             1px -1px 1px white,
             -1px -1px 1px white;
}
.profile .skillheading1,.skillheading2{

  margin-bottom:  10px;
  font-size: 20px;
}

.profile .skill .iconn{
  text-align: center;
  width: 20%;
  margin-right: 12px;
  display: inline-block;

}

.profile .skill .iconn h1{
  width: 100%;
  line-height: 0rem;
  font-size:13px;
}



.skill img{
  width: 100%;

}

.profile .language{
  width: 45%;
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align:top;
}

.motto{
  height:100vh;
  max-height: 671px;
  text-align: center;
  position: relative;
  font-size: 18px;
  background-color: #E7E2D7;

}

.motto .text{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 45%;
  height: 50%;
  position: absolute;

}

.motto h2{
  font-size: 40px;
  font-weight: bold;

}
.motto h2 span{
  color:#CC7575;
}

.works{
  width:100%;
  font-size: 1rem;
}



.web{
  width: 100%;
  height:70vh;
  max-height: 544.8px;
  background-image:url(webhaikei.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.works .conten{
  width: 80%;
  margin: auto;


}
.works .con{
  display: inline-block;
  width: 40%;
  text-align: left;

  vertical-align:top;
  padding: 90px 0;
  float: right;
}

.works .tram .con{
  padding: 60px 0;
}

.works .web .con{
  color:white;

}


.works .con h6{
  font-size: 0.7rem;
  margin: 0;
}
.works .con h2{
  font-size: 2rem;
  margin: 5px 0 20px 0;
}

.works .tram .con h2{
  line-height:2.5rem;
}

.works .con h4{
  font-size: 0.8rem;

}
.works .imm{
  display: inline-block;
  width: 50%;
  text-align: center;
}

.works  img{
  height:70vh;
  max-height: 544.8px;
}



.tram{
  width: 100%;
  height:70vh;
  max-height: 544.8px;
  background-image: url("tramtophaikei.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#8F6D6D;
}




.works .botan{
  text-align: center;
  margin: 50px 0;
}

.btn-flat-border {
  font-size: 15px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}
.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

.contact{
  width:100%;
}
.contact .tex{
  text-align: center;

}
.contact .tex h3{

  font-weight: lighter;
  font-size: 15px;
}
.contact .mailadd{
  text-align: center;

}
.contact .mailadd h6{
  font-weight: bold;
  font-size: 18px;
}
.contact .sns{
  text-align: center;
}

footer{
  width:100%;
  text-align: center;
  height:80px;
  background-color: #CD853F;
}

footer .tex{
  padding: 20px;
}

.botann{
  text-decoration: none;
  font-weight:nomal;
}
.works .web .botann {
  background-color: #E39431;
  padding: 10px 50px;
text-align: center;
border-radius: 30px;
color:white;

}
.works .web .botann:hover {
  background-color: #BD782F;
  transition: 0.5s;

}

.works .bt{
  width: 50%;
margin: 40px auto 0 auto;
}

.works .tram .botann {
  background-color: #C7615E;
padding: 10px 50px;
text-align: center;
border-radius: 30px;

color:white;
}
.works .tram .botann:hover {
  background-color: #A45250;
  transition: 0.5s;
}

/*
１．画像・アイコン作成
２．ボタンデザイン
３．配色などレイアウト微調整

企業に合わせた改善案つくる
