
html{
  font-size: 18px;
}

body {
  margin: 0;
  font-family:Segoe Script, Georgia, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: relative;
  /*   overflow: hidden;
   visibility: hidden;*/
}




header a{
  text-decoration: none;
  color:white;
  font-family: Showcard Gothic;
  font-size:0.7rem;

}


.title{
  position: relative;
  font-family:Showcard Gothic;
  color:#CD853F;
}

.title h2{
  font-size:5rem;
}
.title h5{
  position: absolute;
  font-size: 1rem;
  top:70px;
}

.motto,.profile,.contact{
  padding: 100px;
}

.motto .title h5{
  left:245px;
}
.profile .title h5{
  left:265px;
}
.works .title{
  text-align: center;
}
.works .title span{
 font-size: 1rem;
}
.contact .title h5{

  left:350px;

}

header {
  position: fixed;
  transform-origin: left top;
  height: 50px;
  width: 100%;
  background-color: #CD853F;
  z-index: 2147483647;


}
header ul{

  	list-style-type: none;
  	padding-left: 0;
    text-align: center;

    margin: 0;

}
header li{
  display: inline-block;
  width:100px;
  padding: 5px;
  margin: 10px;

}

.top{
  position:relative;
  width: 100%;
}
.top img{
  width:100%;
}
.top .title {
  position:absolute;
  font-size:3rem;
  top:300px;
  right:70px;
  font-family: Microsoft YaHei UI Bold;
}


.profile .statea{

  font-size:0.5rem;
}
.profile .statea h1{
  font-size: 2.5rem;
}

.works .contents{


}


.works .contents{
  padding: 100px;
}
.works .contents h6{//課題or自主
  font-size: 0.6rem;
  margin: 0;
  color: #F08F00;
}
.works .contents h2{//タイトル
  font-size: 1rem;
  margin:2px 0;
  color: white;
}
.works .contents h4{//説明分
  font-size: 0.7rem;
  margin:5px 0;
  color: white;
}
.works .contents{
  height:300px;
}

.works .lamp{
  background-color: #084300;
}

.works .tray{
  background-color: #75593A;
}

.works .web{
  background-color: #607590;
}

.works .tomato{
  background-color:#BB5050;
}

.works .case{
  background-color:#555555;
}

a.cp_btn {
	display: block;
	width: 120px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
  font-family: Arial;
  border-radius: 3px;
	transition: .4s;
  background: #F08F00;
	color: white;
  border: 1px solid #F08F00;
}
a.cp_btn:hover {
	background: white;
	color: #F08F00;
  border: 1px solid #F08F00;
}




footer{
  width:100%;
  text-align: center;
  height:80px;
  background-color: #CD853F;
}
footer .tex{
  padding: 20px;
}
=======
html{
  font-size: 18px;
}

body {
  margin: 0;
  font-family:Segoe Script, Georgia, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: relative;
  /*   overflow: hidden;
   visibility: hidden;*/
}



header a{
  text-decoration: none;
  color:white;
  font-family: Showcard Gothic;
  font-size:0.7rem;

}


.title{
  position: relative;
  font-family:Showcard Gothic;
  color:#CD853F;
}

.title h2{
  font-size:5rem;
}
.title h5{
  position: absolute;
  font-size: 1rem;
  top:70px;
}

.motto,.profile,.contact{
  padding: 100px;
}

.motto .title h5{
  left:245px;
}
.profile .title h5{
  left:265px;
}
.works .title{
  text-align: center;
}
.works .title span{
 font-size: 1rem;
}
.contact .title h5{

  left:350px;

}

header {
  position: fixed;
  transform-origin: left top;
  height: 50px;
  width: 100%;
  background-color: #CD853F;
  z-index: 2147483647;


}
header ul{

  	list-style-type: none;
  	padding-left: 0;
    text-align: center;

    margin: 0;

}
header li{
  display: inline-block;
  width:100px;
  padding: 5px;
  margin: 10px;

}

.top{
  position:relative;
  width: 100%;
}
.top img{
  width:100%;
}
.top .title {
  position:absolute;
  font-size:3rem;
  top:300px;
  right:70px;
  font-family: Microsoft YaHei UI Bold;
}


.profile .statea{

  font-size:0.5rem;
}
.profile .statea h1{
  font-size: 2.5rem;
}

.works .contents{


}


.works .contents{
  padding: 100px;
}
.works .contents h6{//課題or自主
  font-size: 0.6rem;
  margin: 0;
  color: #F08F00;
}
.works .contents h2{//タイトル
  font-size: 1rem;
  margin:2px 0;
  color: white;
}
.works .contents h4{//説明分
  font-size: 0.7rem;
  margin:5px 0;
  color: white;
}
.works .contents{
  height:300px;
}

.works .lamp{
  background-color: #084300;
}

.works .tray{
  background-color: #75593A;
}

.works .web{
  background-color: #607590;
}

.works .tomato{
  background-color:#BB5050;
}

.works .case{
  background-color:#555555;
}

a.cp_btn {
	display: block;
	width: 120px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
  font-family: Arial;
  border-radius: 3px;
	transition: .4s;
  background: #F08F00;
	color: white;
  border: 1px solid #F08F00;
}
a.cp_btn:hover {
	background: white;
	color: #F08F00;
  border: 1px solid #F08F00;
}



footer{
  width:100%;
  text-align: center;
  height:80px;
  background-color: #CD853F;
}
footer .tex{
  padding: 20px;
}
