html{
  font-size: 20px;
  /*width:getWinSize();後で記入*/
  width:1349px;
  color:#8F6D6D;
}
body {
  margin: 0;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: relative;

}

header {
  position: fixed;
  transform-origin: left top;
  height: 50px;
  width: 100%;
  background-color: #CD853F;
  z-index: 2147483640;

}
.header-list{
  width: 90%;
  margin:auto;
}
header ul{

  list-style: none;
  padding-left: 0;
  text-align: right;
  height:50px;

  margin: 0;

}
header li{
  display: inline-block;
  width:100px;
  margin: 10px;
  text-align: center;

}
header a{

  text-decoration: none;
  color:white;
  font-family: Cambria Bold;
  font-size:1rem;
}

.katop{
  width:100%;
  height: 100vh;

  background-image: url("webhaikei.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.katop .topcon{
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 80px 0 0 0;


}
.katop .image{
  display: inline-block;
  float: left;
  width:45%;
  font-size: 4rem;
}

.katop .con{
  display: inline-block;
  width: 45%;
  float: right;
  color:white;
  margin: 100px 0 0 0;
}
.katop h5{
  margin:0;
  color: #ED9B25;

}
.katop .title{
  display: inline-block;
  width: 70%;
  margin: 0;
}
.katop .title h1{
  margin: 0;
  font-size: 2rem;
}

.katop .con h4{
  font-size: 1rem;
  margin: 20px 0 0 0;
}
.katop .con h3{
  font-size: 0.8rem;
  font-weight: normal;
  margin: 10px 0 0 0;
}
.katop .con h2{
  font-size: 0.7rem;
  font-weight: lighter;
  margin: 20px 0 0 0
}
.katop .con a{
  text-decoration:underline;
  color: white:
}
.katop .soft{
  display: inline-block;
  width: 25%;
}
.katop .soft img{
  width:25%;
}


.sagyou{

  width:100%;
  padding: 80px 0;
}
.sagyou .sagyoucon{
  width: 80%;
  margin:auto;
  text-align: center;

}
.sagyou h1{
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 2rem;
}
.sagyou .con{
  width: 20%;
  display: inline-block;
  vertical-align:top;
}

.sagyou .naka1{
  margin: 0 20px;
}
.sagyou .naka2{
  margin: 0 20px 0 0;
}
.sagyou .con h2{
  font-size: 1rem;
}
.sagyou .con h5{
  font-size: 0.7rem;
  font-weight: normal;
}

.kadai{
  width: 100%;
  background-color: #EFEFEF;
  padding:80px 0;
}

.kadai .kadaicon{
  width: 80%;
  margin: auto;
}

.top{
  width: 100%;
}

.toptitle{
  position: relative;
  display: inline-block;
  width: 30%;
}


.toptitle .image h1{
  font-size: 5rem;
  margin: 0;
  opacity: 0.4;
}
.toptitle .title{
  position: absolute;
  top:30px;
  left:30px;
  font-weight:bold;
  font-size: 1.1rem;
}

.top .soft{
  display: inline-block;
  width: 20%;
  vertical-align: 0%;
}
.top .soft img{
  width:15%;
}
.top .text{
  width: 100%;
  margin: -30px 0 30px 40px;
  font-size: 0.9rem;
  font-weight: normal;
}

.top .text h5{
  font-weight: normal;
  margin: 0;
}

.kadai .con1{
  margin: auto;
  width:80%;
  text-align: center;
}
.kadai .con1 .content1{
  width:30%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.kadai .con1 h2{
  font-size: 1rem;
}
.kadai .con1 .content1 img{
  width: 100%;
}
.kadai .con1 .content1 a{
  font-size: 0.6rem;

}

.kadai .con1 .image{
  width: 10%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0 100px;
}
.kadai .con1 .image img{
  width: 100%;

}
.kadai .con1 .content2{
  width: 30%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.kadai .con1 .content2 .con{
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;

}
.kadai .con1 .content2 .con h3{
  font-size: 0.8rem;
}
.kadai .con1 .content2 .con img{
  width: 100%;

}

.kadai .con2{
  width:100%;
  margin: 50px 0;
  background-color: #E1E1E1;
  padding: 20px;
}
.kadai .con2 h2{
  opacity: 0.5;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
.kadai .con2 h3{
  margin: 0;
  font-size: 1rem;
}
.kadai .con2 .image{
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
.kadai .con2 .image img{
  width: 80%;

}
.kadai .con2 .image h4{
  font-size: 0.8rem;
  color: #CC7575;
}

.kaiketu{
  width:100%;
  padding:80px 0;
}
.kaiketu .kaiketucon{
  width:80%;
  margin: auto;
}
.kaiketu .imagee{
  margin: 20px auto;
  width: 60%;
  text-align: center;
}
.kaiketu .imagee img{
  width: 100%;
}
.kaiketu .imagee a{
  font-size: 0.8rem;
}
.kaiketu .con{
  width: 100%;
}
.kaiketu .con .pick{
  width:100%;
  margin: 50px 0;
  background-color: #E1E1E1;
  padding: 20px;
}
.kaiketu .con .pick h5{
  margin: 0;
  font-family: 'Oswald', sans-serif;
  opacity: 0.5;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
.kaiketu .con h3{
  margin: 0 0 50px 0;
  font-size: 1rem;
}
.kaiketu .con .image{
  width: 20%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 20px;
}
.kaiketu .con .image img{
  width: 100%;

}

.kaiketu .contents{
  width: 30%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.kaiketu .contents h1{
  font-size: 1.2rem;
}
.kaiketu .contents h2{
  font-size: 0.7rem;
  font-weight: normal;
}
.kaiketu .co{
  width: 100%;
  text-align: center;
}

.mokku{
  width:100%;
  padding:80px 0;
  background-color: #EFEFEF;
}

.mokku .mokkucon{
  width:80%;
  margin: auto;
}

.mokku .mokkucon .toptitle{
  width:40%;
  margin: 0;
}

.mokku .mokkucon .toptitle img{
  width:15%;
  margin: 0;
}

.mokku .imagen{
  width: 50%;
  margin: auto;
  text-align: center;
}

.mokku .imagen img{
  width: 100%;
}

.mokku .imagen h3{
  margin: 5px 0;
  font-size: 0.8rem;
}

.hyouka{
    width:100%;
    padding:80px 0;

}

.hyouka .hyoukacon{
  width:80%;
  margin: auto;
}

.hyouka .content1{
  width: 100%;
  margin: 50px auto;
}

.hyouka .content1 .con{
  width: 30%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.hyouka .content1 .con h2{
  font-size: 1rem;
}

.hyouka .content1 .con h3{
  font-size: 0.8rem;
  font-weight: normal;
}



.hyouka .content1 .conte{
  width: 100%;
  text-align: center;
}

.hyouka .content1 .conte .co{
  width: 30%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.hyouka .content2{
  width: 100%;
  padding: 50px 0;
  text-align: center;

}

.hyouka .content2 .image{
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
.hyouka .content2 .image img{
  width: 100%;
}

.hyouka .content2 .text{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.hyouka .content2 .text h1{
  font-size: 1.5rem;
  font-weight: bold;
}

.hyouka .content2 .text h1 span{
  color: #CC7575;
  font-size: 1.8rem;
}

.hyouka .content2 .rink{
  width: 100%;
  text-align: center;
  margin: 50px 0;
}



.lb {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition: .3s opacity ease;
    z-index: -1;
}
.lb img {
    width: auto !important;
    max-height: 100%!important;
    transform: scale(.7);
    transition: .4s transform ease;
    pointer-events: none;
}
.lb:target {
    opacity: 1;
    z-index: 2147483644;
}
.lb:target img {
    transform: scale(1);
}
/* なんちゃって閉じるボタン（いらない場合は消す） */
.lb::before,.lb::after {
    display: block;
    position: fixed;
    content: "";
    width: 24px;
    height:3px;
    top: 70px;
    right: 12px;
    background: #fff;
    border-radius: 4px;
}
.lb::before {
    transform: rotate(-315deg);
}
.lb::after {
    transform: rotate(315deg);
}

/*ピックアップを吹き出しにする
